.form {
    text-align: center;
    display: flex;
}

.form input {
    height: 2rem;
    margin-right: 0.5rem;
    flex: 1 1 auto;
    border-radius: 5px;
    border: 1px solid #8f8f9d;
    outline: none;
    padding: 0.5rem;
}

.form button {
    width: 2rem;
    border: 1px solid #8f8f9d;
    border-radius: 5px;
}
